In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
heroes = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
heroes_df = pd.read_csv(heroes, encoding='utf-8')
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_players = len(heroes_df["SN"].unique())
players_count = pd.DataFrame({"Total Players": total_players},index =[0])
players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Total unique items
unique_items_total = len(heroes_df['Item ID'].unique())
#Calculate the average price of the items
average_price = heroes_df['Price'].mean()
#Calculate Revenue from the sales
revenue = sum(heroes_df['Price'])
#Find the number of purchases
purchases = len(heroes_df['Purchase ID'])
#Creating the dataframe that holds the results
purchasing_summary_df = pd.DataFrame({'Unique Items': unique_items_total, 'Average Price': '${:.2f}'.format(average_price), 'Total Revenue': '${:.2f}'.format(revenue)},index=[0])
purchasing_summary_df

   Unique Items Average Price Total Revenue
0           179         $3.05      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_data = heroes_df.groupby("Gender")
sole_players = gender_data["SN"].nunique()
percen_players = (sole_players/total_players)*100
gender_demo =pd.DataFrame({"Percentage of Players": percen_players, "Total Counts": sole_players})
gender_demo["Percentage of Players"] = gender_demo["Percentage of Players"].map("{:.2f}".format)
gender_demo
#total_gender =len(heroes_df['SN'].unique())

                      Percentage of Players  Total Counts
Gender
Female                                14.06            81
Male                                  84.03           484
Other / Non-Disclosed                  1.91            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
gender_data = heroes_df.groupby("Gender")
purchase_total = gender_data["Age"].count()
aver_purchase = gender_data["Price"].mean()
total_purchase_price = gender_data["Price"].sum()
average_purch_pp = (gender_data["Price"].sum()/sole_players)
summary_df = pd.DataFrame({"Purchase Count":purchase_total, "Average Purchase Price":aver_purchase, "Total Purchase Price":total_purchase_price, "Average Purchase Total per Person":average_purch_pp})
summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [26]:
age_bins = [0,9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99,200]
age_labels =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
heroes_df["Age Group"] = pd.cut(heroes_df["Age"], age_bins, labels=age_labels)
heroes_df
heroes_age_grp = heroes_df.groupby("Age Group")
sole_players = heroes_age_grp["SN"].nunique()
percen_players = (sole_players/total_players)*100
age_demo =pd.DataFrame({"Percentage of Players":percen_players, "Total Count":sole_players})
age_demo.index.name = None
age_demo["Percentage of Players"] = age_demo["Percentage of Players"].map("{:.2f}".format)
#age_demo.style.format({"Percentage of Players": "{:,.2f}%"})
age_demo

      Percentage of Players  Total Count
<10                    2.95           17
10-14                  3.82           22
15-19                 18.58          107
20-24                 44.79          258
25-29                 13.37           77
30-34                  9.03           52
35-39                  5.38           31
40+                    2.08           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [32]:
purchase_total = heroes_age_grp["Age"].count()
aver_purchase = heroes_age_grp["Price"].mean()
purchase_total = heroes_age_grp["Price"].sum()
average_purch_pp = (heroes_age_grp["Price"].sum()/sole_players)
Purchas_summary_age = pd.DataFrame({"Purchase Count":purchase_total, "Average Purchase Price":aver_purchase, "Total Purchase Price":total_purchase_price, "Average Purchase Total per Person":average_purch_pp})



#total_purchase_price = heroes_age_grp["Price"].sum()
Purchas_summary_age.head()

,Purchase Count,Average Purchase Price,Total Purchase Price,Average Purchase Total per Person
<10,77.13,3.353478,77.13,4.537059
10-14,82.78,2.956429,82.78,3.762727
15-19,412.89,3.035956,412.89,3.858785
20-24,1114.06,3.052219,1114.06,4.318062
25-29,293.00,2.900990,293.00,3.805195

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame